
@{
    ViewData["Title"] = "Admin";
    List<string> users = new List<string>();

    users.Add("Jepo");
    users.Add("Hepo");
    users.Add("Juqqa");
}

<h2>Ylläpitäjä</h2>

<div class="mainCon">
    <div class="searchCon">
        <form asp-action="Admin" asp-controller="Desite" method="post">
            <input type="text" name="seachUser"  /><!--asp-for=""-->
            <input type="submit" value="Hae" />
        </form>
    </div>

    <div class="adminAddUserCon">
        <button class="adminAddUserBtn">Lisää käyttäjä</button>  <!--Käyttäjän lisäys sivu avataan piilotetusta divistä popupiksi shadowin päälle-->
    </div>

    <div class="adminPanelCon">
        <div class="adminTools">
            <ul class="noList gridList">
                <li>Käyttäjä</li>
                <li>Enable/Disable</li>
                <li>Muokkaa</li>
                <li>Alusta salasana</li>
            </ul>
        </div> 
        <!--Kannasta data loopataan täällä ja tulostetaan käyttäjät-->
        @foreach (var item in users) 
        {
            <div id="@item" class="ADuser"><!--Käyttäjän id-->
                <ul class="noList gridList">
                    <li>@item</li>
                    <li><button class="enableUserBtn">Enable</button><button class="disableUserBtn">Disable</button></li>
                    <li><button class="editUserBtn">Muokkaa</button></li>
                    <li><button class="resetPassBtn">Alusta salasana</button></li>
                </ul>
                              
            </div>
        }

    </div>

</div>

<!--Shadow jonka päälle avataan popupit-->
<div class="shadow hidden">
</div>

<div class="editUserPage hidden popUpPage">
    <button class="closePopUp">Takaisin</button>
    <form asp-action="Admin" asp-controller="Desite" method="post">
        <!--näihin vielä asp-for jossain välis?-->
        <label>Käyttäjä</label><input type="text" value="asd" name="ADusername" /><br />
        <!--<label>Salasana</label><input type="password" value="" name="ADpass" /><br />-->
        <label>Nimi</label><input type="text" value="asd" name="ADname" /><br />
        <label>Sähköposti</label><input type="email" value="asd@asd.com" name="ADemail" /><br />
        <label>Näytettävä nimi</label><input type="text" value="asd" name="ADname" /><br />
        <label>Osoite</label><input type="text" value="asd 123" name="ADaddress" /><br />
        <input type="submit" name="editSubmit" value="Tallenna" />
    </form>
</div>

<div class="addUserPage hidden popUpPage">
    <button class="closePopUp">Takaisin</button>
    <form asp-action="Admin" asp-controller="Desite" method="post">
        <!--näihin vielä asp-for jossain välis?-->
        <label>Käyttäjä</label><input type="text" name="ADusername" /><br />
        <label>Salasana</label><input type="password" value="" name="ADpass" /><br />
        <label>Salasana</label><input type="password" value="" name="ADpass2" /><br />
        <label>Nimi</label><input type="text" name="ADname" /><br />
        <label>Sähköposti</label><input type="email" name="ADemail" /><br />
        <label>Näytettävä nimi</label><input type="text" name="ADname" /><br />
        <label>Osoite</label><input type="text" name="ADaddress" /><br />
        <input type="submit" name="addSubmit" value="Lisää käyttäjä" />
    </form>
</div>


<div class="resetPassPage hidden popUpPage">
    <button class="closePopUp">Takaisin</button>
    <form asp-action="Admin" asp-controller="Desite" method="post">
        <!--näihin vielä asp-for jossain välis?-->       
        <label>Salasana</label><input type="password" value="" name="ADpass" /><br />
        <label>Salasana uudelleen</label><input type="password" value="" name="ADpass2" /><br />
        <input type="submit" value="Aseta salasana" />
    </form>
</div>