@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Login </h1>

<form asp-action="">
    <br />
    <table>
        <tr>
            <td><label>Käyttäjänimi </label></td>
            <td><input type="text" name="userName" /></td>
        </tr>
        <tr>
            <td><label>Salasana </label></td>
            <td><input type="text" name="password" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Kirjaudu" name="login" /></td>
        </tr>
</table>
</form>