@model Savonia.AdManagement.SavoniaUserObject

<form asp-action="Admin" method="post">
    <table>
        <tr>
            <td><label asp-for="Username"></label></td>
            <td><input asp-for="Username" required/></td>
        </tr>

        <tr>
            <td><label asp-for="Name"></label></td>
            <td><input asp-for="Name"  required/></td>
        </tr>

        <tr>
            <td><label asp-for="Surname"></label></td>
            <td><input asp-for="Surname"  required/></td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email"  required/></td>
        </tr>
        <tr>
            <td><label asp-for="IsEnabled"></label></td>
            <td><input asp-for="IsEnabled"  required/></td>
        </tr>
        <tr>
            <td><label asp-for="Password"></label></td>
            <td><input asp-for="Password" type="password"  required/></td>
        </tr>

    </table>

    <br />

    <input type="submit" name="createUser" value="Lisää käyttäjä" />

</form>